<div class="container center-content">
  <div class="question-box center-content">
    <h1 class="prettier-font">{{ headerMessage }}</h1>
    <img class="image-container" [src]="currentImage" alt="" />
    <div *ngIf="!finished" class="buttons-container center-content">
      <button class="prettier-font center-content yes-button" #yesButton (click)="yesButtonPressed()">Si</button>
      <button class="prettier-font center-content no-button" #noButton *ngIf="!noMoreMessages" (click)="noButtonPressed()">
        {{ noMessages[idx - 1] }}
      </button>
    </div>
  </div>
</div>
